.stream {
    display: grid;
    grid-template-rows: 6rem 6rem;
    grid-template-columns: 3rem 3rem calc(50vw - 7.5rem) 3rem calc(50vw - 7.5rem) 3rem 3rem;
    width: 100%;
    height: 12rem;
}

.stream__send-video {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

.stream__my-video {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
    height: 12rem;
}

.stream__their-video {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 6;
}