.chat {
    flex-grow: 1;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    overflow: hidden;
    font-size: .75em;
    flex-basis: 100%;
    
}

.chat__send {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
}

.chat__users {
    grid-row-start: 1;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 1;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6rem 1fr;

    background-color:  var(--mainBG)
}

.chat__session {
    grid-row-start: 1;
    grid-row-end: 7;
    grid-column-start:2;
    grid-column-end: 7;
    display: grid;
    grid-template-rows: 1fr 6rem;
    grid-template-columns: 100%;
}

.chat__session-messages {
    grid-row-start:1;
    grid-row-end:1;
    overflow-y: scroll;
}

.chat__session-message {
    flex-grow: 1;
}

.chat__session-messageField {
    grid-row-start:2;
    grid-row-end: 3;
    display: flex;
    background-color: var(--mainBG);
}

.chat__session-messageSend {
    flex-basis: 4rem;
}


.userPic__camera-container {
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 3;
    background: hsla(190, 60%, 97%, 0.9);
}

.camera-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userPic__camera {
    position: relative;
    padding: .618rem;
    background: white;
}

.camera__close {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    font-size: 1.618;
    position: absolute;
    top: 0;
    right: 0;
    padding: .618em;
    background: rgb(240,240,240);
    border-bottom: none;
}
.camera__close:hover, 
.camera__close:focus,
.camera__close:active {
    border-bottom: none;
    background: rgb(220,220,220);
}

.camera__self {
    position: relative;
    display:inline-block;
    width: 45%;
}

.camera__video {
    width: 100%;
}

.camera__record {
    position: absolute;
    bottom: 4px;
    right: 0;
    font-size: 1em;
    line-height: 2;
    background: rgb(245,245,245);
}

.camera__record:hover,
.camera__record:focus,
.camera__record:active {
    background: rgb(220,220,220);
}

.camera__record::before {
    content: '\2022';
    display: inline-block;
    color: red;
    font-size: 1.618em;
    line-height: 1;
    margin-right: .5em;
}

.camera__canvas {
    max-width: 45%;
}


