.chatMessage {
    display: flex;
    flex-direction: row;
}

.chatMessage__content {
    flex-grow: 1;
}

.chatMessage__user {
    flex-grow: 0;
    display: inline-flex;
    flex-direction: column;
}

