* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100vh;
    overflow: hidden;
}
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.g-header {
    background-color: var(--mainBG);
}