:root {
    --mainBG: hsla(190, 60%, 67%, 0.788);
    --cardBG: rgba(255,255,255,.7);
    --anim8Duration: .35s;
    --anim8Timing: ease-in;
}

@keyframes fadeIn {
    0% {
      opacity: .1
    }
    100% {
      opacity: 1
    }
  }

  @keyframes popIn {
    0% {
      transform: scale(.5);
      opacity: .25;
    }
    33% {
        transform: scale(1.25);
        opacity: .5;
    }
    67% {
        transform: scale(.75);
        opacity: .75;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }