:root {
    --bSat: 60%;
    --bLight: 67%;
    --pltCooler: hsl(110, var(--bSat), var(--bLight));
    --pltCoolerDarker: hsl(110, var(--bSat), 37%);
    --pltCoolerDarkest: hsl(110, var(--bSat), 17%);
    --pltCoolest: hsl(190,var(--bSat), var(--bLight));
    --pltCoolestDarker: hsl(190,var(--bSat), 37%); 
    --pltCoolestDarkest: hsl(190,var(--bSat), 17%);
    --mainBG: hsla(190, var(--bSat), var(--bLight), 0.788);
    --proceedColor: var(--pltCooler);
    --frameBorderColor: var(--pltCoolestDarkest);
    --frameBorder: 4px solid var(--frameBorderColor);
    --cardBG: rgba(255,255,255,.7);
    --anim8Duration: .35s;
    --anim8Timing: ease-in;
}

@keyframes fadeIn {
    0% {
      opacity: .1
    }
    100% {
      opacity: 1
    }
  }

  @keyframes popIn {
    0% {
      transform: scale(.5);
      opacity: .25;
    }
    33% {
        transform: scale(1.25);
        opacity: .5;
    }
    67% {
        transform: scale(.75);
        opacity: .75;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }